.nyCard div {
margin-left: 40px;

}
.banner{
    padding: 0em;
    /* height: 350px; */
}
.banner img{
    width: 100vw;
    height: 30vh;
}
footer {
    position: relative;
}
.fb {
    position: absolute;
    bottom: 5px;
    right: 10px;
}
.ig {
    position: absolute;
    bottom: 5px;
    right: 50px;
}