.nyCard div {
margin-left: 40px;

}
.banner{
    padding: 0;
}
.banner img{
    width: 100vw;
}
footer {
    position: relative;
}

footer p {
    margin-bottom: 0;
}
.fb {
    position: absolute;
    bottom: 5px;
    right: 10px;
}
.ig {
    position: absolute;
    bottom: 5px;
    right: 50px;
}