/* Hej Amalie */
.nyCard div {
margin-left: 40px;

}
.banner{
    padding: 0;
}
.banner img{
    width: 100vw;
}
footer {
    position: relative;
}

footer p {
    margin-bottom: 0;
}
.fb {
    position: absolute;
    bottom: 5px;
    right: 10px;
}
.ig {
    position: absolute;
    bottom: 5px;
    right: 50px;
}
.np {
  margin-top: 50px;
}


.input-os input, .input-os textarea  {
  border: none;
  border-radius: 5px;
  background-color: #E8E8E8;
  margin-bottom: 15px;
  width: 100%;
  resize: none;
  padding-top: 5px;
  padding-bottom: 5px;

}

.input-os textarea {
  height: 150px;
}

.input-os input:last-child {
  float:right;
  width: auto;
}

.center {
  text-align: center;
}

.skoFix {
  margin-top: 100px;
}

.skoBox {
  border-style: solid;
  border-color: black;
  border-width: thin;
  }

  .skoBox2 {
  border-style: solid;
  border-color: black;
  border-width: thin;
  padding: 3px 15px 3px 15px;
  text-align: center;
}

.colorbox {
  margin-top: 15px;
  width: 38px;
  height: 29px;
  display: inline-block;
  margin-right: 5px;
}

.color-green {
  background-color: #219653;
}

.color-red {
  background-color: #EB5757;
}

.color-yellow {
  background-color: #F2C94C;
}

.color-white {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: thin;
}

.color-blue {
  background-color: #2F80ED;
}

.color-purple {
  background-color: #9B51E0;
}

.color-orange {
  background-color: #F2994A;
}

.color-black {
  background-color: #333333;
}

.color-teal {
  background-color: #56CCF2;
}

.mrkFix label {
  display: block;
}
